@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background: #f8fbff;
  transition: all 0.14s ease-in;
  margin: 0;
  display: flex;
  min-height: 100vh;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 230px;
  height: 85%;
  background-color: white;
  padding: 15px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  z-index: 1;
  margin-top: 82px;
  border-radius: 5px;
  margin-bottom: 5%;
  margin-left: 25px;
}

.sidebar-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.sidebar h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #0252c8;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  margin-bottom: 10px;
}

.sidebar ul li a {
  text-decoration: none;
  color: #000;
  font-size: 18px;
  transition: color 0.3s ease-in-out;
}

.sidebar ul li a:hover {
  color: #0252c8;
}

.c-stopbuttonpi {
  background-color: rgba(207, 43, 43, 0.8);
  color: white;
  padding: 5px 30px;
  border: 2px solid rgb(207, 43, 43);
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  margin: 20px;
  margin-left: 0;
  margin-right: 0;

  margin-top: 300px;

  &:hover {
    background-color: rgb(166, 12, 12, 0.9);
  }
}

.main-container {
  margin-left: 270px; /* Adjust to ensure there is enough space for the sidebar */
  padding: 15px;
  width: calc(100% - 270px);
}

.session-container {
  margin-top: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.session-box {
  background: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 100%;
  max-width: 600px;
}

.session-title {
  color: #0252c8;
  margin-bottom: 1.5rem;
}

.session-form-group {
  margin-bottom: 1.5rem;
  text-align: left;
}

.session-label {
  display: block;
  margin-bottom: 0.5rem;
  color: #0252c8;
  font-weight: bold;
}

.session-select {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccd6dd;
  border-radius: 5px;
  font-size: 1rem;
}

.chart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 15px 0;
}

.chart-box {
  background: #ffffff;
  padding: 20px;
  margin: 20px 0;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 1200px;
  height: 400px; /* Increase the height of the charts */
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #f8fbff;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 3px solid #ffffff;
  width: 40%; /* Could be more or less, depending on screen size */
  border-radius: 5px;
}

.c-stopbuttonmodal {
  background-color: rgb(207, 43, 43);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  margin: 1rem auto;
  display: block;

  &:hover {
    background-color: rgb(166, 12, 12);
  }
}

.c-closemodal {
  background-color: rgb(84, 207, 43);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  margin: 1rem auto;
  display: block;

  &:hover {
    background-color: rgb(37, 108, 4);
  }
}

.sidebarbutton {
  display: inline-flex; // Use inline-flex to make the button align nicely with other inline or inline-block elements
  align-items: center; // Vertically center the content
  justify-content: center; // Horizontally center the content
  padding: 8px 12px; // Add some padding around the text
  background-color: #0252c8; // A nice blue background color
  color: #ffffff; // White text color
  border: none; // No border
  border-radius: 4px; // Rounded corners
  font-size: 14px; // Reasonable font size
  text-decoration: none; // Remove underline from links if any
  cursor: pointer; // Change cursor to pointer on hover
  margin: 5px; // Add some margin around the button
  margin-right: 20px;

  display: none;

  &:hover {
    background-color: #0242a2; // Darken the button a bit on hover
  }

  &:active {
    background-color: rgb(2, 64, 155); // Even darker on click
  }
}

/*---------------------------------------/*
 # MEDIA QUERIES
/*---------------------------------------*/

@media (max-width: 768px) {
  .sidebar {
    display: none;
  }

  .main-container {
    margin-left: 0px;
    width: 100%;
  }

  .sidebarbutton {
    display: block;
  }
}

.boxsidebar {
  background: white;
  padding: 4px;
  border-radius: 5px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  &:hover {
    color: #0252c8;
  }
}
